
<div class="row" data-controller="channel" data-channel-id="<%= @channel.id %>">
  <div class="col-sm-2">
    <%= render "shared/sidebar" %>
  </div>

  <div class="col-sm-10 sticky-offset relative">
    <div class="d-flex justify-content-between sticky-top bg-white border-bottom pt-2">
      <strong>#<%= @channel.name %></strong>

      <div>
        <% if current_user.channels.include?(@channel) %>
          <%= link_to "Leave", channel_channel_user_path(@channel), method: :delete, class: "btn btn-link p-0" %>
        <% else %>
          <%= link_to "Join #{@channel.name}", channel_channel_user_path(@channel), method: :post %>
        <% end %>
      </div>
    </div>

    <div data-target="channel.messages">
      <%= render @channel.messages %>
    </div>
    <div class="row">
      <div class="p-2 bg-white">
        <%= form_with model: [@channel, Message.new], data: { action: "ajax:success->channel#clearMessage" } do |form| %>
          <% if current_user.channels.include?(@channel) %>
            <%= form.text_field :body, placeholder: "Message ##{@channel.name}", class: "form-control", data: { target: "channel.newMessage" }, maxlength: 100 %>

          <% else %>
            <%= form.text_field :body, :class => "form-control", :readonly => true %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
