<% if !@bar_shown && @last_read_at && message.created_at > @last_read_at %>
  <% @bar_shown = true %>
  <div class="border-bottom border-danger"></div>
<% end %>

<% if current_user.id == message.user_id %>
  <div class = "flexcontainer">
    <%= image_tag avatar_path(current_user, size: 50), height: 50, width: 50, class: "rounded" %>
    <div class "flexmessagebox">
      <div class="font-weight-bold my-name-color"><%= message.user.name %></div>
      <div class="my-message-box"><%= message.body %></div>
    </div>
  </div>
<% else %>
  <div class = "flexcontainer">
    <%= image_tag avatar_path(message.user, size: 50), height: 50, width: 50, class: "rounded" %>
    <div class "flexmessagebox">
      <div class="font-weight-bold other-name-color"><%= message.user.name %></div>
      <div class="my-message-box"><%= message.body %></div>
    </div>
  </div>
<% end %>
